<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/css/raiden.css">
    <link rel="stylesheet" href="/css/raiden.css">

</head>
<body>
    <div class="container">

        <h1>Raiden GUI</h1>

        <h2>Ether Account:</h2>
        <button id="btn_popup" onclick="div_createChannelForm()">New Channel</button>
        <button id="btn_shwchannels">Show Channels</button>
        <button id="btn_transferTokens" onclick="div_trasnferTokenForm()">Transfer Tokens</button>
      </div>
      <div class="channelTable">
        <table id="channelsDataTable" style="width:100%">
          <thead>
            <tr>
              <th>Partner_Address</th>
              <th>Balance</th>
              <th>channel_address</th>
              <th>Token_Address</th>
              <th>state</th>
              <th>Settle_Timeout</th>
            </tr>

          </thead>
          <tbody>

          </tbody>

        </table>
      </div>
<div class="form" id="popup">
  <div id="popupContact">
  <link rel="stylesheet" type="text/css" href="/css/form.css">
  <!-- create channel Form -->
  <form action="#" id="createChannelForm" method="get" name="form">
  <img id="close" src="/images/close.png" onclick ="div_hide()">
  <h3>Open a new State Channel</h3>
  <hr>
  <input id="Ptr_Address" name="Ptr_Address" placeholder="Partner Address" type="text">
  <input id="Tkn_Address" name="Tkn_Address" placeholder="Token Address" type="text">
  <input id="Tkn_Balance" name="Tkn_Balance" placeholder="Balance" type="text">
  <input id="Timeout" name="Timeout" placeholder="Settlement Timout" type="text">
  <a href="javascript:%20check_empty()" id="submit">Send</a>
  </form>
  </div>
</div>
<div class="closeform">
  <!-- close channel form-->
  <form action="#" id="cform" method="get" name="form">
      <input id="channelID" name="channel address" placeholder="channel address" type="text">
      <input type="submit" name="close channel" value="close channel" onclick="closeChannel()"/>
  </form>
</div>

<div class="tfrTokenForm" id="transferPopup">
  <div id="trnsPopup">
  <link rel="stylesheet" type="text/css" href="/css/tform.css">
  <!-- transfer tokens -->
  <form action="#" id="trnsTokenForm" method="get" name="form">
  <img id="transferClose" src="/images/close.png" onclick ="div_hide()">
  <h3>Trnasfer Tokens</h3>
  <hr>
  <input id="partnerAddr" name="Ptr_Address" placeholder="Partner Address" type="text">
  <input id="TknAddress" name="Tkn_Address" placeholder="Token Address" type="text">
  <input id="TknAmount" name="Tkn_Balance" placeholder="Amount" type="text">
  <a href="javascript:%20check_tempty()" id="submitTokens">Send</a>
  </form>
  </div>
</div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="/javascripts/raidenAPI-0.2.0.js">
       // Our future code here..

    </script>



</body>
